# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
sa_venv/

# Mac custom attributes file (Desktop Service Store)
.DS_Store

# PyCharm files
.idea/

# Instance Folder - used for configuration parameters
/instance
